# I. Import Library and Data

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
org_f302 = pd.read_csv(r"D:\Data\3. FTU\Vòng 3\[G'CONTEST 2024] DATABASE\final\f302.csv")
f302 = org_f302.copy()
f302.head()

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_3360\1414480439.py:1: DtypeWarning: Columns (4,13,14,30,31) have mixed types. Specify dtype option on import or set low_memory=False.
  org_f302 = pd.read_csv(r"D:\Data\3. FTU\Vòng 3\[G'CONTEST 2024] DATABASE\final\f302.csv")

,BACKUP_DATE,BRANCH_CODE,CIFBRANCH,CUST_CLASSIFICATION,CUSTOMER_CATEGORY,GLCODE,CCY,ACY_CURR_BALANCE,LCY_CURR_BALANCE,VALUE_DATE,...,ODIP.1,CIC,DEBT SOLD,CARD,MAXLOAN,CIFMAX,INT RECAL,Confirmation sent,CIF_generated,CUST_AC_NO_generated
0,2020-12-31,1,01809513-001,100200.0,CA NHAN,213100000,VND,8.661258e+06,8.661258e+06,2018-05-24,...,1.0,0.0,0.0,NaN,1.0,1,0.0,NaN,53450.0,1162
1,2020-12-31,1,00295876-001,100100.0,CA NHAN,213100000,VND,1.515511e+07,1.515511e+07,2018-05-25,...,1.0,0.0,0.0,0.0,1.0,1,26334.0,NaN,10049.0,1163
2,2020-12-31,1,00616063-001,100100.0,CA NHAN,213100000,VND,4.077064e+06,4.077064e+06,2018-05-30,...,1.0,0.0,0.0,NaN,1.0,1,0.0,NaN,17078.0,1164
3,2020-12-31,1,01573562-001,100100.0,CA NHAN,213100000,VND,2.290855e+06,2.290855e+06,2018-05-31,...,1.0,0.0,0.0,1.0,1.0,1,4480.0,NaN,38088.0,1165
4,2020-12-31,1,02027435-001,100100.0,CA NHAN,213300000,VND,3.138829e+06,3.138829e+06,2018-05-31,...,3.0,0.0,0.0,0.0,3.0,3,0.0,NaN,79215.0,1166

# II. Data Preprocessing

## 2.1 Read Dataset

In [3]:
f302.head()

,BACKUP_DATE,BRANCH_CODE,CIFBRANCH,CUST_CLASSIFICATION,CUSTOMER_CATEGORY,GLCODE,CCY,ACY_CURR_BALANCE,LCY_CURR_BALANCE,VALUE_DATE,...,ODIP.1,CIC,DEBT SOLD,CARD,MAXLOAN,CIFMAX,INT RECAL,Confirmation sent,CIF_generated,CUST_AC_NO_generated
0,2020-12-31,1,01809513-001,100200.0,CA NHAN,213100000,VND,8.661258e+06,8.661258e+06,2018-05-24,...,1.0,0.0,0.0,NaN,1.0,1,0.0,NaN,53450.0,1162
1,2020-12-31,1,00295876-001,100100.0,CA NHAN,213100000,VND,1.515511e+07,1.515511e+07,2018-05-25,...,1.0,0.0,0.0,0.0,1.0,1,26334.0,NaN,10049.0,1163
2,2020-12-31,1,00616063-001,100100.0,CA NHAN,213100000,VND,4.077064e+06,4.077064e+06,2018-05-30,...,1.0,0.0,0.0,NaN,1.0,1,0.0,NaN,17078.0,1164
3,2020-12-31,1,01573562-001,100100.0,CA NHAN,213100000,VND,2.290855e+06,2.290855e+06,2018-05-31,...,1.0,0.0,0.0,1.0,1.0,1,4480.0,NaN,38088.0,1165
4,2020-12-31,1,02027435-001,100100.0,CA NHAN,213300000,VND,3.138829e+06,3.138829e+06,2018-05-31,...,3.0,0.0,0.0,0.0,3.0,3,0.0,NaN,79215.0,1166

In [4]:
f302.tail()

,BACKUP_DATE,BRANCH_CODE,CIFBRANCH,CUST_CLASSIFICATION,CUSTOMER_CATEGORY,GLCODE,CCY,ACY_CURR_BALANCE,LCY_CURR_BALANCE,VALUE_DATE,...,ODIP.1,CIC,DEBT SOLD,CARD,MAXLOAN,CIFMAX,INT RECAL,Confirmation sent,CIF_generated,CUST_AC_NO_generated
454611,2020-12-31,88,NaN,NaN,NaN,211103000,VND,1.229232e+12,1.229232e+12,NaN,...,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,431075
454612,2020-12-31,88,NaN,NaN,NaN,211103001,VND,7.890089e+10,7.890089e+10,NaN,...,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,438662
454613,2020-12-31,88,NaN,NaN,NaN,211104000,VND,3.922866e+10,3.922866e+10,NaN,...,NaN,NaN,NaN,NaN,NaN,3,NaN,NaN,NaN,237603
454614,2020-12-31,88,NaN,NaN,NaN,211104001,VND,6.544309e+10,6.544309e+10,NaN,...,NaN,NaN,NaN,NaN,NaN,4,NaN,NaN,NaN,438663
454615,2020-12-31,88,NaN,NaN,NaN,211104001,VND,5.370114e+10,5.370114e+10,NaN,...,NaN,NaN,NaN,NaN,NaN,5,NaN,NaN,NaN,438663

## 2.2 Sanity Check of data

In [5]:
f302.describe()

,BRANCH_CODE,CUST_CLASSIFICATION,GLCODE,ACY_CURR_BALANCE,LCY_CURR_BALANCE,Term,RATE,MIS_CODE,CUST_OWNERSHIP,INDUSTRY_CODE,...,NHOM_NO.1,ODIP.1,CIC,DEBT SOLD,CARD,MAXLOAN,CIFMAX,INT RECAL,CIF_generated,CUST_AC_NO_generated
count,454616.000000,454609.000000,4.546160e+05,4.102230e+05,4.264030e+05,431074.000000,417746.000000,452449.000000,454616.000000,454616.000000,...,454609.000000,454609.000000,425304.000000,454609.000000,434857.000000,454609.000000,454616.000000,4.546090e+05,454609.000000,454616.000000
mean,383.263473,106280.961525,2.122189e+08,2.389257e+08,2.665048e+08,4.346240,28.755856,101002.230041,10.361534,761.980199,...,1.167304,1.167771,0.055375,0.000106,0.134718,1.197541,1.200334,1.226852e+06,204871.604273,230100.248029
std,233.728763,6652.774833,1.385884e+06,4.233653e+09,4.476723e+09,4.662364,18.573245,3622.761713,1.925962,143.221170,...,0.516467,0.516780,0.403944,0.014531,0.408960,0.574685,0.580067,6.589628e+07,114227.040333,132261.774681
min,0.000000,100000.000000,2.111010e+08,8.631188e-01,8.808804e-01,0.000000,0.000000,0.000000,2.000000,101.000000,...,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000e+00,6.000000,1.000000
25%,202.000000,100200.000000,2.121000e+08,1.254756e+07,1.267305e+07,2.000000,12.000000,100000.000000,11.000000,806.000000,...,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,2.502100e+04,108244.000000,115775.750000
50%,555.000000,109900.000000,2.121000e+08,2.783348e+07,2.803070e+07,3.000000,26.400000,100000.000000,11.000000,806.000000,...,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,2.586010e+05,204095.000000,230895.500000
75%,555.000000,109900.000000,2.123000e+08,1.365134e+08,1.400215e+08,5.000000,45.000000,100000.000000,11.000000,806.000000,...,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,7.042340e+05,302291.000000,344624.250000
max,999.000000,990000.000000,3.721000e+08,1.584188e+12,1.584188e+12,25.000000,62.000000,110080.000000,12.000000,807.000000,...,5.000000,5.000000,5.000000,2.000000,5.000000,5.000000,5.000000,3.733041e+10,397132.000000,458275.000000

In [6]:
f302.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 454616 entries, 0 to 454615
Data columns (total 43 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   BACKUP_DATE           454616 non-null  object
 1   BRANCH_CODE           454616 non-null  int64
 2   CIFBRANCH             454609 non-null  object
 3   CUST_CLASSIFICATION   454609 non-null  float64
 4   CUSTOMER_CATEGORY     232817 non-null  object
 5   GLCODE                454616 non-null  int64
 6   CCY                   454616 non-null  object
 7   ACY_CURR_BALANCE      410223 non-null  float64
 8   LCY_CURR_BALANCE      426403 non-null  float64
 9   VALUE_DATE            454609 non-null  object
 10  MATURITY_DATE         439657 non-null  object
 11  Term                  431074 non-null  float64
 12  RATE                  417746 non-null  float64
 13  TOD_END_DATE          452449 non-null  object
 14  MIN_INT_REVN_DATE     452448 non-null  object
 15  CUSTOMER_TYPE         454609 non-null  object
 16  PRODUCT               452449 non-null  object
 17  MIS_CODE              452449 non-null  float64
 18  CODE_DESC             452449 non-null  object
 19  CUST_OWNERSHIP        454616 non-null  int64
 20  DESC                  454616 non-null  object
 21  INDUSTRY_CODE         454616 non-null  int64
 22  INDUSTRY_DESC         454616 non-null  object
 23  Dự thu tồn            454609 non-null  float64
 24  NHOM_NO               454608 non-null  object
 25  ACCT                  454616 non-null  int64
 26  TERM                  454598 non-null  object
 27  LOANTYPE              454609 non-null  object
 28  CIFTYPE               454609 non-null  object
 29  INITIALS              454609 non-null  object
 30  COVID-OD              104 non-null     object
 31  ODIP                  2381 non-null    object
 32  NHOM_NO.1             454609 non-null  float64
 33  ODIP.1                454609 non-null  float64
 34  CIC                   425304 non-null  float64
 35  DEBT SOLD             454609 non-null  float64
 36  CARD                  434857 non-null  float64
 37  MAXLOAN               454609 non-null  float64
 38  CIFMAX                454616 non-null  int64
 39  INT RECAL             454609 non-null  float64
 40  Confirmation sent     6193 non-null    object
 41  CIF_generated         454609 non-null  float64
 42  CUST_AC_NO_generated  454616 non-null  int64
dtypes: float64(15), int64(7), object(21)
memory usage: 149.1+ MB

In [7]:
f302_row, f302_column = f302.shape
print(f"This Table contains: {f302_row} rows")
print(f"This Table contains: {f302_column} column")

This Table contains: 454616 rows
This Table contains: 43 column

In [8]:
numerical_cols = f302.select_dtypes(include=['int64', 'float64']).columns
num_numerical = len(numerical_cols)

categorical_cols = f302.select_dtypes(include=['object', 'category']).columns
num_categorical = len(categorical_cols)

print(f"Số cột numerical: {num_numerical}")
print(f"Số cột categorical: {num_categorical}")

Số cột numerical: 22
Số cột categorical: 21

In [9]:
f302_null_check = f302.isnull().sum()
f302_null_check

BACKUP_DATE                  0
BRANCH_CODE                  0
CIFBRANCH                    7
CUST_CLASSIFICATION          7
CUSTOMER_CATEGORY       221799
GLCODE                       0
CCY                          0
ACY_CURR_BALANCE         44393
LCY_CURR_BALANCE         28213
VALUE_DATE                   7
MATURITY_DATE            14959
Term                     23542
RATE                     36870
TOD_END_DATE              2167
MIN_INT_REVN_DATE         2168
CUSTOMER_TYPE                7
PRODUCT                   2167
MIS_CODE                  2167
CODE_DESC                 2167
CUST_OWNERSHIP               0
DESC                         0
INDUSTRY_CODE                0
INDUSTRY_DESC                0
Dự thu tồn                   7
NHOM_NO                      8
ACCT                         0
TERM                        18
LOANTYPE                     7
CIFTYPE                      7
INITIALS                     7
COVID-OD                454512
ODIP                    452235
NHOM_NO.1                    7
ODIP.1                       7
CIC                      29312
DEBT SOLD                    7
CARD                     19759
MAXLOAN                      7
CIFMAX                       0
INT RECAL                    7
Confirmation sent       448423
CIF_generated                7
CUST_AC_NO_generated         0
dtype: int64

In [10]:
f302_percent_null = f302.isnull().mean() * 100
f302_percent_null

BACKUP_DATE              0.000000
BRANCH_CODE              0.000000
CIFBRANCH                0.001540
CUST_CLASSIFICATION      0.001540
CUSTOMER_CATEGORY       48.788208
GLCODE                   0.000000
CCY                      0.000000
ACY_CURR_BALANCE         9.764944
LCY_CURR_BALANCE         6.205897
VALUE_DATE               0.001540
MATURITY_DATE            3.290469
Term                     5.178436
RATE                     8.110141
TOD_END_DATE             0.476666
MIN_INT_REVN_DATE        0.476886
CUSTOMER_TYPE            0.001540
PRODUCT                  0.476666
MIS_CODE                 0.476666
CODE_DESC                0.476666
CUST_OWNERSHIP           0.000000
DESC                     0.000000
INDUSTRY_CODE            0.000000
INDUSTRY_DESC            0.000000
Dự thu tồn               0.001540
NHOM_NO                  0.001760
ACCT                     0.000000
TERM                     0.003959
LOANTYPE                 0.001540
CIFTYPE                  0.001540
INITIALS                 0.001540
COVID-OD                99.977124
ODIP                    99.476261
NHOM_NO.1                0.001540
ODIP.1                   0.001540
CIC                      6.447639
DEBT SOLD                0.001540
CARD                     4.346305
MAXLOAN                  0.001540
CIFMAX                   0.000000
INT RECAL                0.001540
Confirmation sent       98.637751
CIF_generated            0.001540
CUST_AC_NO_generated     0.000000
dtype: float64

In [11]:
f302_duplicated_check = f302.duplicated().sum()
f302_duplicated_check

np.int64(0)

## 2.3 Rename Column
## Date/Time Formating
## Define Indexing/Primary Key

In [12]:
f302.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 454616 entries, 0 to 454615
Data columns (total 43 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   BACKUP_DATE           454616 non-null  object
 1   BRANCH_CODE           454616 non-null  int64
 2   CIFBRANCH             454609 non-null  object
 3   CUST_CLASSIFICATION   454609 non-null  float64
 4   CUSTOMER_CATEGORY     232817 non-null  object
 5   GLCODE                454616 non-null  int64
 6   CCY                   454616 non-null  object
 7   ACY_CURR_BALANCE      410223 non-null  float64
 8   LCY_CURR_BALANCE      426403 non-null  float64
 9   VALUE_DATE            454609 non-null  object
 10  MATURITY_DATE         439657 non-null  object
 11  Term                  431074 non-null  float64
 12  RATE                  417746 non-null  float64
 13  TOD_END_DATE          452449 non-null  object
 14  MIN_INT_REVN_DATE     452448 non-null  object
 15  CUSTOMER_TYPE         454609 non-null  object
 16  PRODUCT               452449 non-null  object
 17  MIS_CODE              452449 non-null  float64
 18  CODE_DESC             452449 non-null  object
 19  CUST_OWNERSHIP        454616 non-null  int64
 20  DESC                  454616 non-null  object
 21  INDUSTRY_CODE         454616 non-null  int64
 22  INDUSTRY_DESC         454616 non-null  object
 23  Dự thu tồn            454609 non-null  float64
 24  NHOM_NO               454608 non-null  object
 25  ACCT                  454616 non-null  int64
 26  TERM                  454598 non-null  object
 27  LOANTYPE              454609 non-null  object
 28  CIFTYPE               454609 non-null  object
 29  INITIALS              454609 non-null  object
 30  COVID-OD              104 non-null     object
 31  ODIP                  2381 non-null    object
 32  NHOM_NO.1             454609 non-null  float64
 33  ODIP.1                454609 non-null  float64
 34  CIC                   425304 non-null  float64
 35  DEBT SOLD             454609 non-null  float64
 36  CARD                  434857 non-null  float64
 37  MAXLOAN               454609 non-null  float64
 38  CIFMAX                454616 non-null  int64
 39  INT RECAL             454609 non-null  float64
 40  Confirmation sent     6193 non-null    object
 41  CIF_generated         454609 non-null  float64
 42  CUST_AC_NO_generated  454616 non-null  int64
dtypes: float64(15), int64(7), object(21)
memory usage: 149.1+ MB